h1{
   background-color: cadetblue;
   text-align: center;
   color: crimson; 
   font-family: cursive;
}
h3{
    color: darkcyan;
    font-size: large;
    font-family: cursive;
}
ul{
    color: crimson;
    font-size: 18px;
}
p{
    color: crimson;
    font-style: italic;
    font-size: 18px;
}